*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
body {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  background-color: #111111;
  margin: 0;
  padding: 0;
}

div {
  font-family: "Montserrat Alternates";
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background: #111111;
  
}
.socialInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}
.socialInfo a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 0 15px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(255, 240, 240, 0.019);
  transition: box-shadow 0.3s ease-in-out; 
}
.socialInfo a:hover {
  text-decoration:none;
  border-radius: 10px;
  box-shadow:0 1px 20px rgba(12, 220, 231, 0.753) inset;
}
section {
  padding: 20px;
  box-sizing: border-box;
}

h3 {
  color: #ffffff;
  padding-bottom: 5px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}

p {
  color: #ccc;
}

a {
  font-family: "Playwrite NG Modern", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: rgb(242, 242, 226);
  text-decoration: none;
  display: block;
  margin: 10px 0;
}

a:hover {
  text-decoration: underline;
}

ion-icon {
  vertical-align: middle;
  margin-right: 6px;
}

hr {
  border: 0;
  height: 0.5px;
  background: #494949;
}

.footer{
  color: white;
  text-align: center;
}

.workInfo a{
  font-family: "Montserrat Alternates";
  font-weight: normal;
  color: rgb(48, 105, 238);
}

#randomText {
  position: absolute;
  font-size: 24px;
  color: #ffffff86;
  font-weight: bold;
  background-color: transparent;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  white-space: nowrap;
  padding: 60px 0;
  background-color: #111111;
  position: relative;
}
.logos:before,.logos:after{
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: " ";
  z-index: 2;
}
.logos:before{
  left: 0;
  background:linear-gradient(to left,rgba(255, 255, 255, 0),#111111);

}
.logos:after{
  right: 0;
  background:linear-gradient(to right,rgb(255,255,255,0),#111111);

}
.logos:hover .logos-slide{
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}
.logos-slide i {
  color: white;
  font-size: 40px;
  margin: 0 40px;
}

.socialInfo a {
      display: block; 
      margin: 10px 0; 
      font-size: 20px;
  }

  @media screen and (max-width: 600px) {
    .socialInfo div {
        flex-direction: column; /* Stack links vertically */
        align-items: flex-start; /* Center-align items horizontally */
    }
    .socialInfo a {
        display: block; /* Ensure links take full width */
        margin: 10px 0; /* Add vertical margin between links */
        font-size: 20px;
    }
  }
